name: CI/CD Pipeline

on:
    push:
        branches: [main, qa]
        paths-ignore:
            - "**.md"
    pull_request:
        branches: [main, qa]

    workflow_dispatch:

permissions:
    contents: write
    id-token: write
    pull-requests: write

jobs:
    test:
        name: Run Tests
        if: github.event_name == 'pull_request' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: ./.github/workflows/reusable-test.yml
        permissions:
            contents: read

    deploy-qa:
        name: Deploy to QA
        needs: test
        if: (github.ref == 'refs/heads/qa' && github.event_name == 'push') || (github.ref == 'refs/heads/qa' && github.event_name == 'workflow_dispatch')
        uses: ./.github/workflows/reusable-deploy.yml
        permissions:
            contents: write
            id-token: write
        with:
            environment: qa
        secrets: inherit

    deploy-prod:
        name: Deploy to PROD
        needs: test
        if: (github.ref == 'refs/heads/main' && github.event_name == 'push') || (github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch')
        uses: ./.github/workflows/reusable-deploy.yml
        permissions:
            contents: write
            id-token: write
        with:
            environment: prod
        secrets: inherit
